!pip install selenium

In [1]:
#importing releted libraries

import selenium
import pandas as pd 
from selenium import webdriver
import warnings 
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [2]:
#connecting driver

driver=webdriver.Chrome(r"chromedriver.exe")
driver

In [3]:
#opening nokri.com page for scrapping 

driver.get("https://www.naukri.com/data-analytics-jobs-in-bangalore?k=data%20analytics&l=bangalore")

In [6]:
#scrapping the job_title data from the nokri.com page

job_title=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
job_title

['Operate Services - Data Analytics - Senior Associate',
 'Value Stream QA & Data Analytics',
 'Data Analyst / data analytics- US MNC (analytics)',
 'AM/Business Analyst - Data Analytics - SQL - KPO',
 'Sr. Manager Data Analytics',
 'Business Analyst/Senior Business Analyst - Data Analytics- BFSI Domain',
 'Data Analytics- SAS & SQL',
 'Everest Group - Senior Analyst - Data & Analytics - Information',
 'Senior Analyst - Data & Analytics - Information Technology Services',
 'Analyst II , Global HR Data Analytics']

In [5]:
#scrapping the location data from the nokri.com page

job_location=[]
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi / NCR\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Gurgaon/Gurugram',
 'Bangalore/Bengaluru']

In [7]:
#scrapping the compny name from the nokri.com page

company_name=[]
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
company_name

['PwC',
 'Bosch Global Software Technologies',
 'Aspyra HR Services',
 'Search Light',
 'Child Rights and You (CRY)',
 'Huquo Consulting Pvt. Ltd',
 'Genpact',
 'Everest Group',
 'Everest Group',
 'Harman Connected Services Corporation India Pvt.']

In [8]:
#scrapping the  experience_required from nokri.com page

experience_required=[]
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')

for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
    
experience_required

['2-5 Yrs',
 '3-7 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '6-8 Yrs',
 '2-5 Yrs',
 '2-6 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '2-5 Yrs']

In [9]:
#making dataframe of data analytics dataset

DATA_OF_DATA_ANALYTICS=pd.DataFrame({'JOB_TITLE':job_title,'JOB_LOCATION':job_location,'COMPANY_NAME':company_name,'EXPERIENCE_REQUIRED':experience_required})
DATA_OF_DATA_ANALYTICS

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXPERIENCE_REQUIRED
0,Operate Services - Data Analytics - Senior Ass...,Bangalore/Bengaluru,PwC,2-5 Yrs
1,Value Stream QA & Data Analytics,Bangalore/Bengaluru,Bosch Global Software Technologies,3-7 Yrs
2,Data Analyst / data analytics- US MNC (analytics),"Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi /...",Aspyra HR Services,2-7 Yrs
3,AM/Business Analyst - Data Analytics - SQL - KPO,Bangalore/Bengaluru,Search Light,3-7 Yrs
4,Sr. Manager Data Analytics,Bangalore/Bengaluru,Child Rights and You (CRY),6-8 Yrs
5,Business Analyst/Senior Business Analyst - Dat...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi /...",Huquo Consulting Pvt. Ltd,2-5 Yrs
6,Data Analytics- SAS & SQL,Bangalore/Bengaluru,Genpact,2-6 Yrs
7,Everest Group - Senior Analyst - Data & Analyt...,"Bangalore/Bengaluru, Gurgaon/Gurugram",Everest Group,2-4 Yrs
8,Senior Analyst - Data & Analytics - Informatio...,"Bangalore/Bengaluru, Gurgaon/Gurugram",Everest Group,2-4 Yrs
9,"Analyst II , Global HR Data Analytics",Bangalore/Bengaluru,Harman Connected Services Corporation India Pvt.,2-5 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [10]:
#opening nokri.com page for srapping

driver.get("https://www.naukri.com/data-scientist-jobs-in-banglore?k=data%20scientist&l=banglore")

In [11]:
#scrapping the job_title data from the page

job_title=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
print(job_title)



#scrapping the location data from the page

job_location=[]
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
print(job_location)




#scrapping the compny name from the page

company_name=[]
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
print(company_name)




#scrapping the  experience_required from page

experience_required=[]
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')

for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
    
print(experience_required)

['Senior Manager - EmTech - Machine Learning - P&T', 'Assistant Manager - Data Science', 'Analystics & Modeling Specialist', 'Data scientist _Tata Consultancy Services(Tcs)', 'Data Science Senior Analyst', 'Job||Job Opening For AI Technologist - Data Scientist at Wipro Holmes', 'Hiring For DATA Scientist @ NTT DATA Business Solution India', 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes', 'Expert Data Scientist', 'BCAI - Senior Data Scientist']
['Mumbai, Hyderabad/Secunderabad, Bangalore/Bengaluru', 'Mumbai, Pune, Bangalore/Bengaluru', 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, delhi ncr', 'Kochi/Cochin, Indore, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)', 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, delhi ncr', 'New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Coimbatore, Cochin, Mumbai', 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)', 'Kochi/Cochin, New Delhi, Bangalore/Bengaluru, Coimbatore, Chennai, Pune, Mumbai, Hyderabad', 'Mumbai, Bangalore/Bengaluru', 'Bangalore/Bengaluru']
['PwC', 'CitiusTech', 'Accenture', 'TATA CONSULTANCY SERVICES (TCS)', 'Accenture', 'Wipro', 'NTT DATA Business Solutions Private Limited', 'Wipro', 'United Phosphorus Limited', 'Bosch Global Software Technologies']
['5-12 Yrs', '5-9 Yrs', '6-8 Yrs', '9-14 Yrs', '2-5 Yrs', '5-10 Yrs', '4-9 Yrs', '11-20 Yrs', '6-11 Yrs', '5-8 Yrs']

In [12]:
#making the dataframe of data scientist dataset 

DATA_OF_DATA_SCIENTIST=pd.DataFrame({"JOB_TITLE":job_title,"JOB_LOCATION":job_location,"COMPANY_NAME":company_name,"EXPERIENCE_REQUIRED":experience_required})

In [13]:
DATA_OF_DATA_SCIENTIST

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXPERIENCE_REQUIRED
0,Senior Manager - EmTech - Machine Learning - P&T,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",PwC,5-12 Yrs
1,Assistant Manager - Data Science,"Mumbai, Pune, Bangalore/Bengaluru",CitiusTech,5-9 Yrs
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
3,Data scientist _Tata Consultancy Services(Tcs),"Kochi/Cochin, Indore, New Delhi, Hyderabad/Sec...",TATA CONSULTANCY SERVICES (TCS),9-14 Yrs
4,Data Science Senior Analyst,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-5 Yrs
5,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited,4-9 Yrs
7,Urgent Job Opening For AI Practitioner - Data ...,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",Wipro,11-20 Yrs
8,Expert Data Scientist,"Mumbai, Bangalore/Bengaluru",United Phosphorus Limited,6-11 Yrs
9,BCAI - Senior Data Scientist,Bangalore/Bengaluru,Bosch Global Software Technologies,5-8 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required.

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [26]:
#opening nokri.com page with filters

driver.get('https://www.naukri.com/jobs-in-india?clusters=roleGid,citiesGid&roleTypeFilterGid=169&cityTypeGid=9508&ctcFilter=3to6')

In [28]:
#scrapping the data from the page with filter 

job_title=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i. text
    job_title.append(title)
print(job_title)

['Job||Job Opening For AI Technologist - Data Scientist at Wipro Holmes', 'Data Scientist - Noida/Bangalore', 'DigitalBCG GAMMA Data Scientist', 'Data Scientist', 'Chat-bot Developer / Data Scientist', 'Data Scientist / Chat-bot Developer', 'Data Scientist - Engine Algorithm', 'Data Scientist For Healthcare Product team', 'Data Scientist For Healthcare Product team', 'Data Scientist']

In [34]:
#scrapping the job location data from the page with filter 

job_location=[]
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
print(job_location)

['New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Coimbatore, Cochin, Mumbai', 'Noida, Bangalore/Bengaluru', 'New Delhi, Bangalore/Bengaluru', 'Gurgaon/Gurugram', 'Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH during Covid)', 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)', 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru', 'Delhi / NCR, Chennai, Bangalore/Bengaluru', 'Delhi / NCR, Chennai, Bangalore/Bengaluru', 'Noida, Gurgaon/Gurugram, Jaipur']

In [29]:
#scrapping the company name from the page with filter 

company_name=[]
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
print(company_name)

['Wipro', 'EXL', 'Boston Consulting Group', 'Optum', 'Big Seo Buzz', 'Big Seo Buzz', 'Primo Hiring', 'SECUREKLOUD TECHNOLOGIES', 'SECUREKLOUD TECHNOLOGIES', 'Celebal Technologies']

In [30]:
#scrapping the experience data from the page with filter 

experience_require=[]
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_require.append(experience)
print(experience_require)

['5-10 Yrs', '5-10 Yrs', '2-5 Yrs', '2-7 Yrs', '2-7 Yrs', '3-7 Yrs', '1-3 Yrs', '2-7 Yrs', '2-7 Yrs', '1-5 Yrs']

In [35]:
#making data frame

FILTER_DATA=pd.DataFrame({"JOB_TITLE":job_title,"JOB_LOCATION":location,"COMPANY_NAME":company_name,"EXPERIENCE_REQUIRED":experience_require})

In [36]:
FILTER_DATA

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXPERIENCE_REQUIRED
0,Job||Job Opening For AI Technologist - Data Sc...,"Noida, Gurgaon/Gurugram, Jaipur",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Gurgaon/Gurugram, Jaipur",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"Noida, Gurgaon/Gurugram, Jaipur",Boston Consulting Group,2-5 Yrs
3,Data Scientist,"Noida, Gurgaon/Gurugram, Jaipur",Optum,2-7 Yrs
4,Chat-bot Developer / Data Scientist,"Noida, Gurgaon/Gurugram, Jaipur",Big Seo Buzz,2-7 Yrs
5,Data Scientist / Chat-bot Developer,"Noida, Gurgaon/Gurugram, Jaipur",Big Seo Buzz,3-7 Yrs
6,Data Scientist - Engine Algorithm,"Noida, Gurgaon/Gurugram, Jaipur",Primo Hiring,1-3 Yrs
7,Data Scientist For Healthcare Product team,"Noida, Gurgaon/Gurugram, Jaipur",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
8,Data Scientist For Healthcare Product team,"Noida, Gurgaon/Gurugram, Jaipur",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
9,Data Scientist,"Noida, Gurgaon/Gurugram, Jaipur",Celebal Technologies,1-5 Yrs

Q:4 Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1. Brand

2. Product Description

3. Price

In [3]:
#opening the page for scrapping

driver.get("https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_HistoryAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_HistoryAutoSuggest_1_3_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sunglasses%7CSunglasses&requestId=6b329f7a-cae9-4a5a-b589-7bfcfd90ab82&as-searchtext=sun")

In [11]:
#scrapping the brand data from flipcart from page1

Brand_name=[]
for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    Brand_name.append(i.text)
    
Brand_name

['john jacobs',
 'PROVOGUE',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Silver Kartz',
 'Elligator',
 'PIRASO',
 'ROZZETTA CRAFT',
 'SKYZA INDIA',
 'SUNBEE',
 'PIRASO',
 'kingsunglasses',
 'HRX by Hrithik Roshan',
 'SRPM',
 'PIRASO',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Lee Topper',
 'john jacobs',
 'Fastrack',
 'New Specs',
 'VINCENT CHASE',
 'PHENOMENAL',
 'CRYSTAL CART',
 'VINCENT CHASE',
 'GANSTA',
 'john jacobs',
 'LIZA ANGEL',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROYAL SON',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'AISLIN',
 'john jacobs']

In [12]:
#scrapping the product data description from flipcart from page1

Product_description=[]

for i in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    Product_description.append(i.text)
    
Product_description

['UV Protection Round Sunglasses (53)',
 'Polarized Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Polarized Retro Square Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (47)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Retro Square Sunglasses (53)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (54)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Gradient Retro Square Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (54)']

In [13]:
#scrapping the price data from flipcart from page1

price=[]

for i in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')[0:100]:
    price.append(i.text)
    
price

['₹3,500',
 '₹559',
 '₹359',
 '₹599',
 '₹749',
 '₹799',
 '₹669',
 '₹281',
 '₹298',
 '₹359',
 '₹474',
 '₹326',
 '₹283',
 '₹279',
 '₹213',
 '₹1,695',
 '₹211',
 '₹252',
 '₹616',
 '₹664',
 '₹379',
 '₹474',
 '₹299',
 '₹4,000',
 '₹639',
 '₹216',
 '₹949',
 '₹252',
 '₹219',
 '₹749',
 '₹296',
 '₹2,500',
 '₹179',
 '₹379',
 '₹969',
 '₹759',
 '₹749',
 '₹195',
 '₹443',
 '₹3,500']

In [14]:
#getting the lenth of the data

print(len(Product_description),len(price),len(Brand_name))

40 40 40

In [17]:
#opening the page 2

driver.get('https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sunglasses%7CSunglasses&requestId=721aff0d-a0ce-4795-8db4-36f454ef5b7d&page=2')

In [18]:
#scrapping the brand data from flipcart from page 2

Brand_name2=[]
for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    Brand_name2.append(i.text)
    
Brand_name2

['ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'Mi',
 'ROYAL SON',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'GANSTA',
 'Rich Club',
 'EYELLUSION',
 'SRPM',
 'ROYAL SON',
 'kingsunglasses',
 'Fastrack',
 'PIRASO',
 'kingsunglasses',
 'GANSTA',
 'Fastrack',
 'VINCENT CHASE',
 'Elligator',
 'LIZA ANGEL',
 'SUNBEE',
 'New Specs',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'IZAAN MART',
 'Fastrack',
 'SUNBEE',
 'kingsunglasses',
 'kingsunglasses',
 'ROYAL SON',
 'PIRASO',
 'VINCENT CHASE',
 'CRYSTAL CART',
 'HAMIW COLLECTION',
 'ROYAL SON',
 'United Colors of Benetton']

In [19]:
#scrapping the product description data from flipcart from page 2

Product_description2=[]

for i in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    Product_description2.append(i.text)
    
Product_description2

['UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (56)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Retro Square Sunglasses (53)',
 'Gradient Wayfarer Sunglasses (52)',
 'Riding Glasses, Riding Glasses, UV Protection Round Sun...',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Round Sunglasses (54)',
 'Night Vision, Riding Glasses Rectangular Sunglasses (60...',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart UV Protection Clubmaster Sunglasses (55)',
 'UV Protection Round Sunglasses (53)',
 'Night Vision, UV Protection Spectacle Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Rectangular Sunglasses (55)',
 'Gradient Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Oval Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (61)',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Polarized, Gradient, UV Protection, Mirrored Over-sized...',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored Wayfarer Sunglasses (56)']

In [20]:
#scrapping the price data from flipcart from page 2

price2=[]

for i in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
    price2.append(i.text)
    
price2

['₹381',
 '₹331',
 '₹949',
 '₹759',
 '₹379',
 '₹799',
 '₹599',
 '₹279',
 '₹679',
 '₹220',
 '₹299',
 '₹199',
 '₹207',
 '₹664',
 '₹213',
 '₹599',
 '₹399',
 '₹214',
 '₹228',
 '₹1,099',
 '₹949',
 '₹207',
 '₹179',
 '₹259',
 '₹214',
 '₹879',
 '₹949',
 '₹949',
 '₹290',
 '₹1,599',
 '₹283',
 '₹189',
 '₹208',
 '₹664',
 '₹279',
 '₹849',
 '₹245',
 '₹197',
 '₹379',
 '₹999']

In [35]:
print(len(Product_description2),len(price2),len(Brand_name2))

40 40 40

In [21]:
#opening the pafe3

driver.get('https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sunglasses%7CSunglasses&requestId=721aff0d-a0ce-4795-8db4-36f454ef5b7d&page=3')

In [23]:
#scrapping the brand data from flipcart from page 3

Brand_name3=[]
for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')[0:20]:
    Brand_name3.append(i.text)
    
Brand_name3

['ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'SKYZA INDIA',
 'VINCENT CHASE',
 'kingsunglasses',
 'Lee Topper',
 'SKYZA INDIA',
 'AISLIN',
 'VINCENT CHASE',
 'Elligator',
 'SKYZA INDIA',
 'Fastrack',
 'PIRASO',
 'Lee Topper',
 'VINCENT CHASE',
 'Anemone',
 'ROYAL SON',
 'ROYAL SON',
 'VINCENT CHASE']

In [24]:
#scrapping the product description data from flipcart from page 3


Product_description3=[]

for i in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')[0:20]:
    Product_description3.append(i.text)
    
Product_description3

['UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'Others Retro Square Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Gradient Rectangular, Spectacle Sunglas...',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...']

In [25]:
#scrapping the price data from flipcart from page 3

price3=[]

for i in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')[0:20]:
    price3.append(i.text)
    
price3

['₹474',
 '₹319',
 '₹664',
 '₹284',
 '₹949',
 '₹329',
 '₹237',
 '₹378',
 '₹443',
 '₹949',
 '₹329',
 '₹326',
 '₹749',
 '₹399',
 '₹276',
 '₹999',
 '₹424',
 '₹711',
 '₹474',
 '₹1,415']

In [36]:
print(len(Product_description3),len(price3),len(Brand_name3))

20 20 20

In [29]:
# making dataframe of sunglasses dataset

DATA_OF_SUNGLASSES=pd.DataFrame({"BRAND_NAME":[Brand_name,Brand_name2,Brand_name3],"PRODUCT_DESCRIPTION":[Product_description,Product_description2,Product_description3],"PRICE":[price,price2,price3]})

DATA_OF_SUNGLASSES

,BRAND_NAME,PRODUCT_DESCRIPTION,PRICE
0,"[john jacobs, PROVOGUE, Fastrack, Fastrack, Fa...","[UV Protection Round Sunglasses (53), Polarize...","[₹3,500, ₹559, ₹359, ₹599, ₹749, ₹799, ₹669, ₹..."
1,"[ROZZETTA CRAFT, ROZZETTA CRAFT, VINCENT CHASE...","[UV Protection, Gradient Rectangular Sunglasse...","[₹381, ₹331, ₹949, ₹759, ₹379, ₹799, ₹599, ₹27..."
2,"[ROZZETTA CRAFT, ROZZETTA CRAFT, ROYAL SON, SK...",[UV Protection Retro Square Sunglasses (Free S...,"[₹474, ₹319, ₹664, ₹284, ₹949, ₹329, ₹237, ₹37..."

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
    
you have to scrape the tick marked attributes.These are:
1. Rating

2. Review summary

3. Full review

4. You have to scrape this data for first 100 reviews.

In [3]:
#opening the page of flipcart

driver.get("https://www.flipkart.com/apple-iphone-11-white-64-gb/product-reviews/itmfc6a7091eb20b?pid=MOBFWQ6BVWVEH3XE&lid=LSTMOBFWQ6BVWVEH3XEMXQMLO&marketplace=FLIPKART")

In [11]:
# scrapping rating data from next button

start=1
end=11
Rating=[]
for page in range(start,end):
    rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating[0:100]:
        Rating.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [13]:
Rating

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4']

In [12]:
len(Rating)

100

In [9]:
# scrapping review summary data from next button

start=1
end=11
Review_summary=[]
for page in range(start,end):
    for i in driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]'):
        Review_summary.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
Review_summary

['Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Worth every penny',
 'Perfect product!',
 'Perfect product!',
 'Terrific',
 'Wonderful',
 'Worth every penny',
 'Classy product',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Highly recommended',
 'Good choice',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Highly recommended',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Worth every penny',
 'Perfect product!',
 'Perfect product!',
 'Terrific',
 'Wonderful',
 'Worth every penny',
 'Classy product',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Highly recommended',
 'Good choice',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Highly recommended',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Worth every penny',
 'Perfect product!',
 'Perfect product!',
 'Terrific',
 'Wonderful',
 'Worth every penny',
 'Classy product',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Highly recommended',
 'Good choice',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Highly recommended',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Worth every penny',
 'Perfect product!',
 'Perfect product!',
 'Terrific',
 'Wonderful',
 'Worth every penny',
 'Classy product']

In [10]:
len(Review_summary)

100

In [14]:
# scrapping full review data from next button

start=1
end=11
Full_review=[]
for page in range(start,end):
    for i in driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]'):
        Full_review.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
Full_review

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Really worth of money. i just love it. It is the best phone ever.',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Really worth of money. i just love it. It is the best phone ever.',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',

In [15]:
len(Full_review)

100

In [16]:
#making the DataFrame 

Data_of_iphone=pd.DataFrame({"RATING":Rating,"RATING_SUMMARY":Review_summary,"FULL_REVIEW":Full_review})
Data_of_iphone

,RATING,RATING_SUMMARY,FULL_REVIEW
0,5,Highly recommended,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Perfect product!,Great iPhone very snappy experience as apple k...
3,5,Worth every penny,What a camera .....just awesome ..you can feel...
4,5,Perfect product!,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
96,5,Terrific,Really worth of money. i just love it. It is t...
97,5,Wonderful,This is my first ever I phone. Before this I w...
98,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
99,4,Classy product,Totally in love with this ❤ the camera quality...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.

You have to scrape 4 attributes of each sneaker:
    
1. Brand

2. Product Description

3. Price

4. offer_data

In [33]:
#opening the page of flipcart.com

driver.get("https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_4_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_4_na_na_na&as-pos=3&as-type=RECENT&suggestionId=sneakers&requestId=64e6a312-23d3-4c11-95c7-19b21c60426f&as-searchtext=snea")

In [34]:
#scrapping the sneakers brand data from flipcart.com

start=1
end=4
Brand=[]
for page in range(start,end):
    for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
        Brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
    
Brand

['Deals4you',
 'Chevit',
 'aadi',
 'Deals4you',
 'PUMA',
 'Layasa',
 'Chevit',
 'Old Skool',
 'KWIK FIT',
 'Layasa',
 'Layasa',
 'RapidBox',
 'Magnolia',
 'Labbin',
 'Numenzo',
 'Scull Wings',
 'AMICO',
 'PUMA',
 'SCATCHITE',
 'DRESTA',
 'Deals4you',
 'Kzaara',
 'Chevit',
 'OZJI',
 'PUMA',
 'Sparx',
 "LEVI'S",
 'RapidBox',
 'aadi',
 'Sparx',
 'PUMA',
 'bacca bucci',
 'Rzisbo',
 'Shoes Bank',
 'ASTEROID',
 'bacca bucci',
 'Robbie jones',
 'Magnolia',
 'Layasa',
 'Chevit',
 'ASTEROID',
 'Chevit',
 'RED TAPE',
 'Deals4you',
 'BRUTON',
 'Chevit',
 'D-SNEAKERZ',
 'FAUSTO',
 'Kraasa',
 'Xtoon',
 'PUMA',
 'Scull Wings',
 'CLYMB',
 'URBANBOX',
 'HOTSTYLE',
 'Scull Wings',
 'ROCKFIELD',
 'Layasa',
 'Shozie',
 'FAUSTO',
 'BIRDE',
 'PUMA',
 'Kraasa',
 'FAUSTO',
 'Layasa',
 'ONECENTRE',
 'Kraasa',
 'FAUSTO',
 'PUMA',
 'Xtoon',
 'Roadster',
 'FAUSTO',
 'ROCKFIELD',
 'PUMA',
 'Magnolia',
 'OZJI',
 'BRUTON',
 'Robbie jones',
 'Layasa',
 'Bonexy',
 'Deals4you',
 'Chevit',
 'PUMA',
 'Layasa',
 'Chevit',
 'KWIK FIT',
 'Layasa',
 'Old Skool',
 'Layasa',
 'Magnolia',
 'Labbin',
 'RapidBox',
 'AMICO',
 'Numenzo',
 'PUMA',
 'Scull Wings',
 'SCATCHITE',
 'Kzaara',
 'Chevit',
 'DRESTA',
 'Sparx',
 'Sparx',
 'Rzisbo',
 'OZJI',
 'PUMA',
 "LEVI'S",
 'aadi',
 'RapidBox',
 'Robbie jones',
 'Deals4you',
 'PUMA',
 'bacca bucci',
 'Shoes Bank',
 'ASTEROID',
 'Magnolia',
 'bacca bucci',
 'LuvShus',
 'RED TAPE',
 'BRUTON',
 'Chevit']

In [35]:
#scrapping the product description of sneakers from flipcart.com

start=1
end=4
Product_description=[]
for page in range(start,end):
    for i in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
        Product_description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
    
Product_description

['Original Luxury Branded Black Fancy Casual Walking Part...',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Modern Trendy Sneakers boot Sneakers For Men',
 'Smash Wns v2 L Sneakers For Women',
 'Sneakers For Men',
 'CR-1 Sneakers For Men',
 'Multi purpose casual shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Women',
 'Comfy Mid-Top Casual Chunky Streetwear Fashion Sneakers...',
 'Sports Running Shoes Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Series 7 Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'STR2 Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'DEMON High-top casual shoe with Flat outsole high Stree...',
 'Puma Smash v2 Buck Sneakers For Men',
 'Modern Trendy Sneakers boot Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 3 Casual & Sports Shoes (Sneakers & Runni...',
 'Sneakers For Men',
 'Cilia Sneakers For Women',
 'Sneakers For Men',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Sneakers For Women',
 'Low Top Classic Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual & Sports Shoes (Loafers Shoes) S...',
 'Puma Smash Wns v2 L Sneakers For Women',
 'supr Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Sneakers For Men',
 'OLD SKOL Sneakers For Men',
 'supr Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Glory Sneakers For Men',
 'Stylish Lace Up Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'SM-747 Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 Sneakers For Men',
 "Levi's Men's Lancer Sneakers Sneakers For Men",
 'Sneakers For Men',
 'Casual Sneakers Black Outdoor Shoes For Boys And Men Sn...',
 'Sneakers For Men',
 'Caracal Sneakers For Men',
 'Casual Sneaker for Men Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Sneakers For Men',
 'Trendy Sneakers For Men',
 'Men Casual Shoe New Trend With Fashion Panda Desgined L...',
 'Sneakers For Men',
 'Exclusive Sneaker Shoes Sneakers For Men',
 'DEMON High-top casual shoe with Flat outsole high Stree...',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Modern Trendy Sneakers boot Sneakers For Men',
 'Smash Wns v2 L Sneakers For Women',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'CR-1 Sneakers For Men',
 'Multi purpose casual shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Women',
 'Sports Running Shoes Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Comfy Mid-Top Casual Chunky Streetwear Fashion Sneakers...',
 'Sneakers For Men',
 'STR2 Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'DEMON High-top casual shoe with Flat outsole high Stree...',
 'Puma Smash v2 Buck Sneakers For Men',
 'Modern Trendy Sneakers boot Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 3 Casual & Sports Shoes (Sneakers & Runni...',
 'Sneakers For Men',
 'Cilia Sneakers For Women',
 'Sneakers For Men',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Sneakers For Women',
 'Low Top Classic Casual Shoes Sneakers For Men']

In [36]:
#scrapping the price of sneakers from flipcart.com

start=1
end=4
Price=[]
for page in range(start,end):
    for i in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
        Price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
Price

['₹499',
 '₹845',
 '₹1,542',
 '₹199',
 '₹544',
 '₹397',
 '₹349',
 '₹1,599',
 '₹228',
 '₹374',
 '₹499',
 '₹993',
 '₹466',
 '₹449',
 '₹1,747',
 '₹648',
 '₹351',
 '₹259',
 '₹239',
 '₹699',
 '₹709',
 '₹764',
 '₹458',
 '₹549',
 '₹2,115',
 '₹1,759',
 '₹399',
 '₹1,683',
 '₹599',
 '₹381',
 '₹2,618',
 '₹549',
 '₹297',
 '₹499',
 '₹354',
 '₹687',
 '₹410',
 '₹1,619',
 '₹366',
 '₹503',
 '₹499',
 '₹459',
 '₹1,559',
 '₹299',
 '₹449',
 '₹296',
 '₹449',
 '₹499',
 '₹1,715',
 '₹463',
 '₹198',
 '₹283',
 '₹299',
 '₹498',
 '₹399',
 '₹299',
 '₹2,134',
 '₹499',
 '₹351',
 '₹299',
 '₹499',
 '₹1,948',
 '₹499',
 '₹959',
 '₹699',
 '₹2,400',
 '₹499',
 '₹299',
 '₹529',
 '₹499',
 '₹448',
 '₹2,204',
 '₹1,399',
 '₹666',
 '₹650',
 '₹327',
 '₹3,054',
 '₹3,499',
 '₹509',
 '₹2,532',
 '₹499',
 '₹845',
 '₹1,542',
 '₹199',
 '₹544',
 '₹397',
 '₹349',
 '₹1,599',
 '₹228',
 '₹374',
 '₹499',
 '₹993',
 '₹466',
 '₹449',
 '₹1,747',
 '₹648',
 '₹351',
 '₹259',
 '₹239',
 '₹699',
 '₹709',
 '₹764',
 '₹458',
 '₹549',
 '₹2,115',
 '₹1,759',
 '₹399',
 '₹1,683',
 '₹599',
 '₹381',
 '₹2,618',
 '₹549',
 '₹297',
 '₹499',
 '₹354',
 '₹687',
 '₹410',
 '₹1,619',
 '₹366',
 '₹503']

In [37]:
#scrapping the offer data of sneakers from flipcart.com

start=1
end=4
offer_data=[]
for page in range(start,end):
    for i in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
        offer_data.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
offer_data

['50% off',
 '69% off',
 '70% off',
 '76% off',
 '71% off',
 '55% off',
 '55% off',
 '66% off',
 '50% off',
 '69% off',
 '80% off',
 '43% off',
 '70% off',
 '50% off',
 '60% off',
 '40% off',
 '39% off',
 '50% off',
 '64% off',
 '51% off',
 '50% off',
 '44% off',
 '66% off',
 '70% off',
 '56% off',
 '49% off',
 '50% off',
 '76% off',
 '47% off',
 '50% off',
 '65% off',
 '37% off',
 '61% off',
 '48% off',
 '34% off',
 '79% off',
 '44% off',
 '50% off',
 '66% off',
 '43% off',
 '66% off',
 '57% off',
 '55% off',
 '80% off',
 '71% off',
 '80% off',
 '65% off',
 '68% off',
 '77% off',
 '62% off',
 '50% off',
 '23% off',
 '53% off',
 '55% off',
 '41% off',
 '71% off',
 '64% off',
 '74% off',
 '70% off',
 '56% off',
 '15% off',
 '15% off',
 '54% off',
 '63% off',
 '57% off',
 '45% off',
 '60% off',
 '51% off',
 '40% off',
 '74% off',
 '47% off',
 '63% off',
 '70% off',
 '75% off',
 '64% off',
 '23% off',
 '58% off',
 '70% off',
 '71% off',
 '49% off',
 '50% off',
 '69% off',
 '70% off',
 '76% off',
 '71% off',
 '55% off',
 '55% off',
 '66% off',
 '50% off',
 '69% off',
 '80% off',
 '43% off',
 '70% off',
 '50% off',
 '60% off',
 '40% off',
 '39% off',
 '50% off',
 '64% off',
 '51% off',
 '50% off',
 '44% off',
 '66% off',
 '70% off',
 '56% off',
 '49% off',
 '50% off',
 '76% off',
 '47% off',
 '50% off',
 '65% off',
 '37% off',
 '61% off',
 '48% off',
 '34% off',
 '79% off',
 '44% off',
 '50% off',
 '66% off',
 '43% off']

In [38]:
#checking the length

print(len(Brand),len(Price),len(offer_data),len(Product_description))

120 120 120 106

In [41]:
sneakers_data=pd.DataFrame({"BRAND":Brand,"OFFER_DATA":offer_data,"PRICE":Price})
sneakers_data.head(100)

          BRAND OFFER_DATA   PRICE
0     Deals4you    50% off    ₹499
1        Chevit    69% off    ₹845
2          aadi    70% off  ₹1,542
3     Deals4you    76% off    ₹199
4          PUMA    71% off    ₹544
..          ...        ...     ...
95  Scull Wings    40% off    ₹648
96    SCATCHITE    39% off    ₹351
97       Kzaara    50% off    ₹259
98       Chevit    64% off    ₹239
99       DRESTA    51% off    ₹699

[100 rows x 3 columns]

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”,

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe

In [3]:
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6687.0_13125.0_6687.0%20TO%2013125.0")

In [23]:
#it is not inspecting so can not scrap the data.

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [17]:
#opening the amazon.com page for scrap the data 

driver.get("https://www.amazon.in/s?k=laptop&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&ds=v1%3ABnjeI3W9CggoF2IschgigyLFDHFXuaSyPF%2FvUXHYhmQ&crid=17STFDW3BODLH&qid=1660494149&rnid=12598141031&sprefix=laptop%2Caps%2C284&ref=sr_nr_p_n_feature_thirteen_browse-bin_11")

In [18]:
#scrapping the Title data from amazon.com

Title=[]

for i in driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')[0:10]:
    Title.append(i.text)
    
Title

['Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen 15.6"(39.62cm) FHD IPS Gaming Laptop (8GB/512GB SSD/4GB NVIDIA GTX 1650/120Hz/Windows 11/Backlit Keyboard/3months Game Pass/Onyx Black/2.2Kg), 81Y401BHIN',
 'HP Pavilion Plus, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm),OLED,400 nits,UWVA, Eye Safe Display/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO 2021, 14-eh0024TU',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit Keyboard/Fingerprint Reader/Silver/1.55Kg), NP750XED-KC2IN',
 'ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 11/Gray/2.2 Kg), FX507ZE-HN038W',
 'Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-inch (35.56cm) FHD TN Antiglare Thin and Light Laptop (16GB RAM/512GB SSD/Windows 11 Home/Microsoft Office H&S 2021/FPR/Black/1.59 kg), 20TAS1B400',
 'Dell New G15 5520 Gaming Laptop,Intel i7-12700H, 16GB, 512Gb, NVIDIA RTX 3050 Ti (4GB GDDR6), 15.6" (39.62Cms) FHD WVA AG 120Hz 250 nits, Backlit KB Orange, Shadow Grey, 2.81Kgs (D560823WIN9B)']

In [19]:
#scrapping the Rating data from amazon.com page

Rating=[]

for i in driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]'):
    Rating.append(i.get_attribute)
    
Rating

[]

In [20]:
#scrapping price from amazon.com

price=[]

for i in driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')[0:10]:
    price.append(i.text)

price

['62,990',
 '89,990',
 '56,590',
 '82,400',
 '87,990',
 '84,990',
 '79,490',
 '1,09,990',
 '94,990',
 '1,04,990']

In [21]:
print(len(price),len(Title))

10 10

In [22]:
#making dataframe of the data

laptops=pd.DataFrame({"TITLE":Title,"PRICE":price})
laptops

                                               TITLE     PRICE
0  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...    62,990
1  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    89,990
2  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    56,590
3  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...    82,400
4  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    87,990
5  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...    84,990
6  Samsung Galaxy Book2 Intel 12th Gen core i7 39...    79,490
7  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...  1,09,990
8  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...    94,990
9  Dell New G15 5520 Gaming Laptop,Intel i7-12700...  1,04,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [45]:
#opening the ambitionbox page

driver.get("https://www.ambitionbox.com/jobs/search?designation=data-scientist&location=Noida")

In [46]:
#scrapping the company name

company_name=[]

for i in driver.find_elements(By.XPATH,'//p[@class="company body-medium"]'):
    company_name.append(i.text)
    
company_name

['CBRE South Asia Pvt Ltd',
 'Genpact',
 'Ericsson India Global Services Pvt. Ltd.',
 'GENPACT India Private Limited',
 'Optum Global Solutions (India) Private Limited',
 'Ericsson India Global Services Pvt. Ltd.',
 'SOPRA STERIA INDIA LIMITED',
 'EXL Services.com ( I ) Pvt. Ltd.',
 'Dew Solutions Pvt. Ltd.',
 'GENPACT India Private Limited']

In [47]:
#scrapping the no of posted days from the page 

no_of_posted_days=[]

for i in driver.find_elements(By.XPATH,'//span[@class="body-small-l"]'):
    no_of_posted_days.append(i.text)
    
no_of_posted_days

['6d ago',
 'via naukri.com',
 '23hr ago',
 'via iimjobs.com',
 '16d ago',
 'via naukri.com',
 '9d ago',
 'via naukri.com',
 '13d ago',
 'via naukri.com',
 '26d ago',
 'via naukri.com',
 '15d ago',
 'via naukri.com',
 '15d ago',
 'via naukri.com',
 '15d ago',
 'via hirist.com',
 '1mon ago',
 'via naukri.com']

In [48]:
#scrapping the rating of the jobs

Rating=[]

for i in driver.find_elements(By.XPATH,'//span[@class="body-small"]'):
    Rating.append(i.text)
    
Rating

['4.3', '4.0', '4.3', '4.0', '4.1', '4.3', '4.2', '3.9', '4.3', '4.0']

In [49]:
#checking the length

print(len(Rating),len(no_of_posted_days),len(company_name))

10 20 10

In [50]:
jobs=pd.DataFrame({"COMPANY NAME":company_name,"RATING":Rating})
jobs

                                     COMPANY NAME RATING
0                         CBRE South Asia Pvt Ltd    4.3
1                                         Genpact    4.0
2        Ericsson India Global Services Pvt. Ltd.    4.3
3                   GENPACT India Private Limited    4.0
4  Optum Global Solutions (India) Private Limited    4.1
5        Ericsson India Global Services Pvt. Ltd.    4.3
6                      SOPRA STERIA INDIA LIMITED    4.2
7                EXL Services.com ( I ) Pvt. Ltd.    3.9
8                         Dew Solutions Pvt. Ltd.    4.3
9                   GENPACT India Private Limited    4.0

Q10: Write a python program to scrape the salary data for Data Scientist designation.
    
Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.

In [3]:
#opening the ambitionbox page

driver.get('https://www.ambitionbox.com/salaries')

In [7]:
#scrapping the experience required and salary record from the page

experience_and_salary_record=[]

for i in driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]'):
    experience_and_salary_record.append(i.text)
experience_and_salary_record

['1-4 yrs experience (based on 51 salaries)',
 '1-4 yrs experience (based on 334 salaries)',
 '1-2 yrs experience (based on 36 salaries)',
 '1-4 yrs experience (based on 133 salaries)',
 '2-4 yrs experience (based on 71 salaries)',
 '2-4 yrs experience (based on 41 salaries)',
 '1-4 yrs experience (based on 105 salaries)',
 '1-2 yrs experience (based on 29 salaries)',
 '1-4 yrs experience (based on 56 salaries)',
 '1-2 yrs experience (based on 68 salaries)']

In [4]:
#scrapping the company name from the page

company_name=[]

for i in driver.find_elements(By.XPATH,'//div[@class="name"]/a'):
    company_name.append(i.text)
    
company_name

[]

In [9]:
#scrapping the average salary fro the page

average_salary=[]
for i in driver.find_elements(By.XPATH,'//p[@class="averageCtc"]'):
    average_salary.append(i.text)
    
average_salary

['₹ 34.0L',
 '₹ 23.6L',
 '₹ 22.9L',
 '₹ 21.2L',
 '₹ 20.7L',
 '₹ 20.6L',
 '₹ 20.1L',
 '₹ 19.6L',
 '₹ 19.4L',
 '₹ 19.3L']

In [6]:
#scrapping minimum and maximum salary from the page

mimimum_maximum_salary=[]

for i in driver.find_elements(By.XPATH,'//div[@class="value body-medium"]'):
    mimimum_maximum_salary.append(i.text)
    
mimimum_maximum_salary

['₹ 11.7L',
 '₹ 97.0L',
 '₹ 13.0L',
 '₹ 50.0L',
 '₹ 12.0L',
 '₹ 34.0L',
 '₹ 8.7L',
 '₹ 45.0L',
 '₹ 14.0L',
 '₹ 30.0L',
 '₹ 11.7L',
 '₹ 34.0L',
 '₹ 12.0L',
 '₹ 32.5L',
 '₹ 12.0L',
 '₹ 30.0L',
 '₹ 4.9L',
 '₹ 38.0L',
 '₹ 12.0L',
 '₹ 34.0L']

In [10]:
#checking the length

print(len(mimimum_maximum_salary),len(average_salary),len(experience_and_salary_record))

20 10 10